.home-container {
    width: 100%;
    height: calc(100vh - 8.7rem);

    background-image: url('../assets/images/space.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    color: #ffffff;

    padding: 2rem 2rem 4rem;
}

.text-setion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}
h1.title {
    font: 700 6.4rem 'Roboto', sans-serif;

    display: flex;
    max-width: 80rem;
}

p.motto {
    text-align: left;
    text-indent: 0;
    font: normal 1.5rem 'Roboto', sans-serif;
    line-height: 2.5rem;
    color: #e4e4e4;

    margin-top: -4rem;
}

.developer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    justify-self: end;
    align-self: start;

    font-size: 1.5rem;
}