
.potractor {
    width: 400px;
    position: absolute;
    bottom: -100px;
    left: 300px;

    z-index: 9999;
}
.container {
    position: relative;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 50px;
  }

  .stick {
    width: 360px;
    height: 5px;
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 300px;
    transform-origin: left bottom;
    transform: rotate(0deg);
  }

  .vertical-stick {
    width: 5px;
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .slider-container {
    margin-top: 20px;
  }

  .base-stick {
    height: 2px;
    background-color: rgb(172, 99, 59);

    position: absolute;
    left: 0;
    right: 0;
  }

  .box-inclined-plane {
    width: 40px;
    height: 40px;
    background-color: rgb(255, 174, 0);
    position: absolute;
    bottom: 5px;
    right: 0;
  }