main {
    background-image: url('/assets/images/road.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-color: rgb(177, 248, 224);

    min-width: 1000px;
    width: 100%;
}

.car {
    background-image: url('/assets/images/car.png');
    background-size: contain;
    width: 150px;
    height: 150px;

    position: absolute;
    bottom: 20px;
}

.velocity-stick {
    width: 100px;
    height: 2px;

    background-color: blue;

    position: absolute;
    top: 70px;
    left: 160px;
}