.logo-setion {
    position: absolute;
    left: 0;
    right: 0;

    z-index: 1;
}

.logo {
    margin-inline: auto;
    width: fit-content;
}

.dropdown-setion {
    width: 3.5rem;
    height: 3.5rem;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(196, 196, 196, 37%);
    border-radius: 100%;


    cursor: pointer;
    z-index: 2;
        
}

.dropdown-setion .humburger_svg, 
.dropdown-setion .icon-close {    
    width: 1.4rem;
}

.humburger_svg {
    fill: #ffffff;

    display: none;
    visibility: hidden;
}

.hide {
    display: none;
    visibility: hidden;
}
.show {
    display: block;
    visibility: visible;
}
.home {
    z-index: 2;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 100%;

    position: relative;
}

:root{
    --max-width-sidebar: 30rem;
}

main .sidebar {
    background-color: #0C0C0C;
    display: flex;
    flex-direction: column;
    flex: 1 1 20%;

    max-width: var(--max-width-sidebar);
    width: 100%;
    height: 100%;

    position: absolute;
    left: 0;

    transition: left .6s ease; 
}

.close-sidebar {
    left: -100% !important;
}

main section.simulation-container {
    display: flex;
    flex-direction: column;
    flex: 1 1 80%;
    position: absolute;
    right: 0;
    max-width: 100%;
    width: 100%;
    height: 100%;
    padding: 1rem 3rem;
    transition: all .6s ease;
}

/* When sidebar is visible */
.sidebar:not(.close-sidebar) + section.simulation-container {
    max-width: calc(100% - var(--max-width-sidebar));
}
main .sidebar .header {
    width: 100%;

    display: flex;

    color: #ffffff;
    font-size: 1.5rem;
    font-size: bold;
}

main .sidebar .header ._grade {
    display: flex;
    justify-content: center;
    flex: 1 1 100%;

    background-color: #1D1D1D;

    cursor: pointer;
    padding: 1.2rem;

    transition: background-color .3s;
}

main .sidebar .header ._grade:hover {
    background-color: #303030;
}

main .sidebar .units-group {
    display: flex;
    flex-direction: column;

    font-size: 2rem;
    font-weight: bolder;
    color: #ffffff;

    margin-top: 3.6rem
}

main .sidebar .units-group .unit {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 2rem 3.8rem;
    cursor: pointer;

    transition: all .5s;
}

main .sidebar .units-group .unit:hover {
    background-color: #1D1D1D;
}

main .sidebar .units-group  ul.topic-list  {
    width: 100%;

    display: none;
    
    background-color: #131313;
    padding: 1rem 3rem;
    
}

main .sidebar .units-group ul.topic-list li.topic {    
    font-size: 1.5rem;
    font-weight: normal;
    
    color: #979798;
    cursor: pointer;

    padding: 2rem 2rem 1rem;

    transition: background-color .3s;
}

main .sidebar .units-group ul.topic-list li.topic:hover {
    color: #c2c2c2;
}
.dropdown-arrow {
    transition: transform 0.3s ease;
}

.unit .dropdown-arrow-open{
    transform: rotate(90deg);
    
}

/* Simulation-container */

section.simulation-container .guideline{
    width: 100%;
    height: fit-content;
    max-height: 50rem;
    
    background-color: #F9F9F9;
    border-radius: .5rem;
    padding: 8px 14px 10px;
    margin-bottom: .8rem;

    display: flex;
    flex-direction: column;

}
section.simulation-container .guideline .guideline-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
section.simulation-container .guideline .guideline-header-title{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
section.simulation-container .guideline .guideline-icon-info{
    margin-right: 10px;
}
section.simulation-container .guideline .guideline-icon-collapse{
    display: flex;    
    cursor: pointer;
}

section.simulation-container .scene{
    width: 100%;
    height: 100%;
    
    background-color: #F3F3F3;
    font-size: 3rem;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;
    color: #b2bcc5;
    
}

.guideline-content {
    max-height: 500px;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

.guideline-content.collapsed {
    max-height: 0;
}

.guideline-icon-collapse.rotate {
    transform: rotate(180deg);
}

/* Cody */

.simulation-content {
    width: 100%;
    height: 100%;
    padding: 20px;
}

.simulation-canvas {
    width: 100%;
    height: 80%;
    background: #fff;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.placeholder {
    font-size: 24px;
    color: #666;
}

._grade.active {
    background-color: #303030 !important;
    font-weight: bold;
}
