
html {
    font-size: 62.5%;
    /* 62.5% of 16px = 10px */
}

body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100vh;
}

#root {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    background-color: #FDFDFD;
    color: #000000;
}

header.header {
    height: 8.7rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #0a0a0a;
    color: #ffffff;
    padding: 3rem;

    position: relative;
    transition: all 0.5s ease;
}

a.logo {
    display: flex;
    align-items: center;
    justify-content: center;

    color: #ffffff;
    z-index: 4;
}

.abbreviation_logo {
    font: 700 3.6rem 'Roboto', sans-serif;
}

.logo img.line {
    height: 3.1rem;
    margin-inline: .1rem;
}

.extension_logo {
    font: normal 1.5rem 'Roboto', sans-serif;
    color: #ffffff;
    text-align: justify;
}

.logotype {
    left: 0;
    right: 0;

    position: absolute;
    text-align: center;
}

.logotype img {
    width: 4.5rem;

    animation: spin 8s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.right-nav {
    display: flex;
    align-items: center;

    z-index: 4;
}

select.simulations {
    font-size: 1.6rem;
    background-color: #0a0a0a;
    color: white;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
}

.cls-1 {
    fill: none;
    stroke: #ffffff;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2px;
}

.humburger {
    visibility: hidden;
    display: none;
    align-items: center;
    justify-content: start;

    z-index: 4;
}

.humburger_svg {
    width: 1.8rem;
    height: 1.8rem;

    fill: #ffffff;
    cursor: pointer;

    z-index: 4;
}

@media (max-width: 948px) {
    header.header {
        height: 4.5rem;
        padding: 1.5rem;
    }

    a.logo {
        visibility: hidden;
        display: none;
    }

    .logotype img {
        width: 3rem;
    }

    .right-nav {
        display: none;
        visibility: hidden;
    }

    .humburger {
        visibility: visible;
        display: flex;
    }   
  
}

.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-left: 2rem;
}

.main-nav>a {
    margin: 0 1rem;
    color: #ffffff;
    font-size: 1.6rem;
}

.dropdown {
    display: none;
    visibility: hidden;

    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}

.dropdown-content {
    position: absolute;

    display: flex;
    flex-direction: column;

    background-color: #0a0a0a;
    color: #ffffff;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    padding: 1rem;

    min-width: 10rem;
    width: 100%;


    z-index: 1;
}


.dropdown.is-active {
    display: block;
    visibility: visible;
}

.dropdown-content a {
    color: #ffffff;
    padding: 1rem;
    text-decoration: none;
    display: block;
}